/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'EnergySpike-d9Bx6';
    src: url('/font/EnergySpike-d9Bx6.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}
body{
    overflow: hidden;
}